#side {
  text-align: left;
  background-color: #bdbdbd;
  padding: 40px;
}

main {
  padding-left: 80px;
  padding-right: 80px;
}

#filter-bar {
  padding: auto;
  margin: auto;
  display: inline-flex;
  justify-content: center;
}

#add-item {
  margin-left: 300px;
}

/* #filter-bar .fields {
  justify-content: center;
}

#filter-bar .field {
  display: flex;
  justify-content: center;
} */

#logo {
  max-width: 210px;
  height: auto;
}