main {
  margin-top: 0;
  padding-left: 60px;
  padding-right: 60px;
}

.title {
  margin: 30px auto;
  margin-bottom: 10px;
  font-size: 30px;
  color: #872222;
}

.subtitle {
  margin-top: 0px;
  color: #872222;
}

h1 {
  margin-top: 0px;
  clear: left;
}

#side {
  text-align: left;
  background-color: #bdbdbd;
  padding: 3%;
  padding-right: 2%;
  height: 713px;
}

#admin-filter-bar {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

#table {
  display: flex;
  justify-content: center; 
  width: 100%;
}

img {
  margin-top: 20px;
  max-width: 120px;
  height: auto;
}

#settings {
  margin-top: 40px;
  display: flex;
  flex-direction: row-reverse;
}

#logo-mobile {
  display: none;
}

#add-mobile {
  display: none; 
}

#add-item {
  justify-content: right;
}

@media (max-width: 840px) {
  #logo-mobile {
    display: inline;
    max-width: 90px;
    margin-bottom: 50px;
  }

  #logo-desktop {
    display: none;
  }

  #settings {
    margin-top: -70px;
  }
}

@media (max-width: 768px) {
  main {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 425px) {
  #add-mobile {
    display: block;
    margin-bottom: 20px;
  }

  #add-desktop {
    display: none;
  }

  /* #admin-filter-bar .fields {
    justify-content: center;
  } */
}
