#admin-login {
  margin: auto;
  margin-top: 10%;
  padding: 50px;
  width: 30%;
  border: 2px solid #872222;
}

form {
  text-align: left;
  display: inline;
  justify-content: center;
  padding-bottom: 20px;
}