#side {
  text-align: left;
  background-color: #bdbdbd;
  padding: 3%;
  padding-right: 2%;
  height: 713px;
}

main {
  padding-left: 75px;
  padding-right: 75px;
}

#table {
  display: flex;
  justify-content: center; 
}

img {
  margin-top: 20px;
  max-width: 120px;
  height: auto;
}

#top {
  margin-top: 110px;
}
  
/* #filter-bar #form-searchbar {
  width: 300px;
}

#filter-bar .fields {
  justify-content: center;
} */