.subtitle {
    margin-top: 0px;
    color: #872222;
}

#description {
    text-align: left;
    font-size: 18px;
    font-family: 'Lato';
    margin: auto;
    margin-bottom: 40px;
    max-width: 80%;
    padding: 10px;
}

#description p {
    line-height: 1.25em;
}

.location {
    font-size: 16px;
    margin-left: 5%;
}

/* .fields {
    display: flex;
    justify-content: center;
} */
