.ui.card.item-card {
  cursor: pointer;
  height: 140px;
  overflow: hidden;
  margin: 0px 10px 20px 10px;
}

.image-modal-wrapper {
    margin: -8px 0 3px 0;
    text-align: center;
}

@media (max-width: 768px) {
  .card-wrapper, .ui.card.item-card {
    width: 100%;
  }
}
