.ui.cards {
  justify-content: space-between;
  /* Maybe switch this to display grid in the future, because last row is not spaced properly */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 400px); */
}

.card-wrapper {
  width: 23%;
  margin-bottom: 10px;
}

.ui.card.item-card {
  overflow: hidden;
  width: 100%;
}

.ui.card img {
  margin-top: 0;
  max-width: none;
}

.ui.card .header {
  text-align: left;
}

.ui.card::after {
  content: '';
}

.image-modal-wrapper {
    margin: -8px 0 3px 0;
    text-align: center;
}

@media (max-width: 480px) {
  .card-wrapper {
    min-width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .card-wrapper {
    min-width: calc(50% - 10px);
  }
}

@media (min-width: 1025px) and (max-width: 1180px) {
  .card-wrapper {
    min-width: calc(33.33% - 20px);
  }
}

@media (min-width: 1180px) {
  .card-wrapper {
    min-width: calc(25% - 20px);
  }
}