.ui.cards {
  justify-content: space-between;

  /* Maybe switch this to display grid in the future, because last row is not spaced properly */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 400px); */
}
.grid {
  grid-row: span 4; /* span 4 rows */
  display: grid;
  /* magic is here */
  grid-template-rows: subgrid; /* create a sub-grid with the 4 parent grid rows */
}
.card-wrapper {
  width: 23%;
  margin-bottom: 25px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: max-height;
}
.card-wrapper-outer{
  height: max-height;
}

.ui.card.item-card.bottom-content {
  text-align: left;
  padding-bottom: 15px;
}

.ui.card.item-card {
  overflow: hidden;
  width: 100%;
}

.ui.card.header {
  text-align: center;
}

.ui.card::after {
  content: "";
}

.ui.card.item-card.top-content {
  padding-top: 40px;
}

@media (max-width: 480px) {
  .card-wrapper {
    min-width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .card-wrapper {
    min-width: calc(50% - 10px);
    height: max-content;
  }
}

@media (min-width: 1025px) and (max-width: 1180px) {
  .card-wrapper {
    min-width: calc(33.33% - 20px);
  }
}

@media (min-width: 1180px) {
  .card-wrapper {
    min-width: calc(25% - 20px);
  }
}

img.card-img {
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: none;
  height: 500px;
}

.ui.button.image-button {
  margin-top: 15px;
}
