table.ui.table.lf_table {
    scroll-behavior: auto;
}  

.ui.sortable.table .unclickable {
    cursor: default;
}

.ui.sortable.table .unclickable:hover {
    background-color: #f9fafb;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.ui.button {
    float: right;
    margin-right: 0;
    margin-bottom: 0.78571429em;
}